* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
}

:root {
    --color-primary: #141922;
    --color-secondary: #000;
    --color-tertiary: #282828;
    --color-quaternary: #fff;
    --grey-txt: #717171;
}

#app-container {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

a {
    text-decoration: none;
    color: var(--grey-txt);
}

/* ----------- UTILITY CLASS ----------- */
.d-flex {
    display: flex;
}

.direction-column {
    flex-direction: column;
}

.f-grow {
    flex-grow: 1;
}

.f-shrink {
    flex-shrink: 0;
}

.over-hidden {
    overflow: hidden;
}
/* --------- END UTILITY CLASS ---------- */

/* -------- SIDEBAR -------- */
.sidebar {
    min-width: 200px;
    background-color: var(--color-secondary);
    color: var(--grey-txt);
    font-size: .7rem;
    font-weight: bold;
    padding: 1rem 1rem 0.5rem 1rem;
}

.sidebar-titles {
    color: var(--color-quaternary);
}

/* LOGO + MENU */
.spotify-logo {
    padding-bottom: 1rem;
}

.spotify-logo img {
    height: 30px;
}

.home, .search, .library {
    align-items: center;
    padding: .3rem;
}

.menu-list {
padding-bottom: 1rem;
}

.menu-icon img {
    width: 25px;
    margin-right: 5px;
}

/* PLAYLIST */
.playlist-add-icon {
    height: 35px;
    width: 35px;
    text-align: center;
    font-size: 1.3rem;
    line-height: 35px;
    color: black;
    background-color: gray;
    margin-right: 10px;
}

.add-playlist {
    padding: .8rem 0;
    align-items: center;
}

.create-playlist {
    font-size: .85rem;
}

.playlist-list {
    overflow: auto;
    max-height: 300px;
}

.playlist-list ul {
    height: 100%;
}

.playlist-list ul li {
    list-style: none;
    padding: .5rem 0;
}

/* INSTALLA + USER */
.install {
    align-items: center;
    font-size: .5rem;
}

.install-img {
    padding-right: 10px;
}

.install-img img {
    width: 10px;
    vertical-align: middle;
}

.divider {
    height: 1px;
    padding: .3rem 0;
    border-bottom: 1px solid var(--grey-txt);
}

.user {
    align-items: center;
    padding-top: .5rem;
    font-size: .55rem;
    color: var(--color-quaternary);
}

.user-img img {
    width: 17px;
    height: 17px;
    background-color: gray;
    border-radius: 50%;
    margin-right: 5px;
}
/* ------ END SIDEBAR ------ */

/* ---- TOP NAVIGATION BAR WITH BUTTON ---- */
.top-nav-bar {
    padding: 1.2rem .5rem;
    background-color: rgba(8,11,18,.8);
    position: fixed;
    width: calc(100% - 200px);
}

.spotify-prm-btn {
    background-color: transparent;
    color: var(--color-quaternary);
    font-size: .5rem;
    text-transform: uppercase;
    font-weight: bold;
    border: 1px solid var(--color-quaternary);
    border-radius: 30px;
    padding: .6rem 2rem;
    float: right;
}
/* ------- END TOP NAVIGATION BAR ------- */

/* ----- PLAYER BOTTOM BAR ------ */
.player-bar {
    /*DEBUG*/
    padding: .5rem 0;
    background-color: var(--color-tertiary);
    justify-content: space-between;
    gap: 20px;
}

/* PARTE SINISTRA PLAYER BAR */
.album-info, .player-info {
    color: var(--grey-txt);
    align-items: center;
    padding: .6rem;
    gap: 10px;
}

.album-cover-small img {
    height: 37px;
}

.album-name {
    padding-right: 1.2rem;
}

.album-name h5 {
    color: var(--color-quaternary);
    font-size: .7rem;
}

.album-name h6 {
    font-size: .65rem;
}

.album-icons {
    gap: 10px;
    font-size: .8rem;
}

.player {
    max-width: 80%;
    width: 100%;
    text-align: center;
    /*DEGUB*/
    justify-content: center;
}

.main-content {
    background-color: var(--color-primary);
    overflow: auto;
    padding-top: 4.5rem;
}

.album-wrapper {
    /*DEBUG*/
    background-color: darkslateblue;
    height: 100px;
    width: 100px;
}